@font-face { font-family: 'yg-jalnan'; 
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); 
font-weight: normal; 
font-style: normal; }

@font-face { font-family: 'S-CoreDream-3Light'; 
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
font-weight: normal; 
font-style: normal; }

@font-face { font-family: 'S-CoreDream-8Heavy'; 
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); 
font-weight: normal; 
font-style: normal; }

@font-face { font-family: 'S-CoreDream-9Black'; 
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff'); 
font-weight: normal; 
font-style: normal; }

@font-face { font-family: 'S-CoreDream-2ExtraLight'; 
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); 
font-weight: normal; 
font-style: normal; }

@font-face { font-family: 'S-CoreDream-4Regular'; 
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); 
font-weight: normal; 
font-style: normal; }

@font-face { font-family: 'S-CoreDream-6Bold'; 
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); 
font-weight: normal; 
font-style: normal; }